<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= hello %></title>
  </head>


  <body>

    <h1><%= hello %></h1>

    <form id="frm1" action="/world"  >
      Hello? <input type="text" name="text" value="<%= hello %>"><br>
    </form>

    <button type="submit" form="frm1" value="Submit">Hey.</button>

  </body>
</html>